* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1150px;
    margin: auto;
    background: lightgray;
}

header {
    width: 100%;
    height: 500px;
    background: lightblue;
}

.main-header {
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.logo-header {
    width: 200px;
    height: 50px;
    background: black;
}

.blog {
    width: 100%;
    height: 400px;
    background: lightpink;
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
}

.box-blog {
    width: 352px;
    height: 300px;
    background: gray;
}

.service {
    width: 100%;
    height: 400px;
    background: lightseagreen;
}

.box-service {
    width: 170px;
    height: 300px;
    background: lightsteelblue;
}

.contact {
    width: 100%;
    height: 400px;
    background: lightyellow;
}

.box-contact {
    width: 444px;
    height: 300px;
    background: mediumpurple;
}

footer {
    width: 100%;
    height: 15opx;
    background: lightgreen;
}